:root{
    --size-graph: 65%;
    --bg-color-header:#416970;
    --bg-color-form:#FFE4C4;
    --color-borders:blue;
    --color-tag:#f8f8ff;
    --color-label:black;
    --color-card: grey;
    --color-white: #f8f8ff;
    --color-lightgray:#E0E0E0;
    --color-darkgray:#628A82;
    --color-red: #D2122E;
    

}

/********************  split section   ********************/

/* Split the screen in half */
.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;

}
  
/* Control the left side */
.left {
    width: calc(100% - var(--size-graph));
    left: 0;
    background-color: var(--bg-color-form);
}
  
/* Control the right side */
.right {
    width: var(--size-graph);
    right: 0;
}


/********************  left half section   ********************/
#container{
    width: 100%;
    position: absolute;
    text-align: center;
}
#form-container {
    padding: 20pt;
    
}
#inputs-container{
    margin-bottom: 50pt;
}

.tag-input{
    overflow: auto;
}
.form-element{
    /* background-color: azure; */
    margin-top: 30pt;
}




/********************  header   ********************/
.sticky {
    background-color: var(--bg-color-header);
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: calc(100% - var(--size-graph));
    z-index: 100;
    padding: 20pt;
    text-align: left;
    border-radius: 0pt 0pt -20pt -20pt;
}
#label-tag{
    /* position: relative; */
    color: var(--color-white);
    font-weight: bold;
    font-size: 22px;
    font-family:'cursive';
    letter-spacing: .1rem;
    margin-right: 70pt;
}
#deco-header{
    background-color: var(--bg-color-form);
    min-height: 10pt;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    border-radius: 100pt 100pt 0pt 0pt;
}

.sticky > input{
    position: absolute;
    right: 0;
    top: 50%;
    margin: 0;
    margin-right: 20pt;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
    
}



/********************  fieldset text   ********************/

.text-section{
    /* background-color: var(--color-darkgray); */
    margin-top: 10pt;
    padding: 9pt;
    padding-top: 10pt;
    border-radius: 0 0 10pt 10pt;
}
.delete-text{
    text-align:center;
    padding: 5pt 20pt;
    border-radius: 20pt;
    transition: background-color 0.5s ease;
    /* background-color: var(--color-red); */
    cursor: pointer;
}
.delete-text:hover{
    background-color: var(--color-red);
    /* border: solid 3pt  var(--color-red); */
}
.delete-text:hover > .delete-icon-text{
    color: 	var(--color-lightgray);
}
.input-text{
    margin-bottom: 7pt;
}
.delete-icon-text{
    vertical-align: bottom;
    color: 		var(--color-red);
    transition: all 0.5s ease ;
}
fieldset{
    padding: 5pt;
    border-radius: 10pt;
    overflow: hidden;

}


/**********  add button   **********/

.add{
    height: fit-content;
    transition: all .5s ease-out;
    padding: .15rem;
    border-radius: 5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: var(--color-left);
    border: .3rem solid var(--color-left); 
}
.add-icon{
    font-size: 24px !important;
    background-color: var(--color-darkgray);
    border: .25rem solid var(--color-darkgray); 
    border-radius: 15pt;
    padding: 3pt;
    vertical-align: sub;
    color:var(--color-lightgray);
    transition: all 0.5s ease;

}

.add-icon:hover{
    background-color: var(--color-lightgray);
    color:var(--color-darkgray);
}

.add:active{
    background: #BEBEBE;
}
.add-icon{
    font-size: 3rem;
    font-weight: bold;
}

.clickable-icon{
    cursor: pointer;
}

/********************  labels   ********************/

label{
    font-weight: bold;
    color: var(--color-label);
    font-size: 18px;
    font-family: 'Verdana';
}


/********************  redirection section   ********************/
.next{
    color: var(--color-white);
    border-radius: 5pt;
    background-color: var(--color-darkgray);
    margin-top: 8pt;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 0;
    min-height: 30pt;

}
.delete-next{
    position: absolute;
    right: 0;
    height:  30pt;
    background-color:  var(--color-red);
    border-radius: 0 5pt 5pt 0;
    width: 10%;
    cursor: pointer;
    transition: all 0.5s ease ;
    border: solid 3pt  var(--color-red);
    text-align:center;

}
.delete-next:hover{

    background-color: var(--color-lightgray);

}
.delete-icon-next{
    color: var(--color-lightgray);
    transition: color 0.5s ease;
    vertical-align: -webkit-baseline-middle;

}
.delete-next:hover > .delete-icon-next { 
    color: var(--color-red); 
}
.next-span{
    position: absolute;
    margin-top: 5pt;
    font-weight: bold;
    font-size: 16px;

}



/********************  tooltip section   ********************/
.info-icon{
    font-size: 15pt;
    vertical-align: sub;
    cursor: help;
}




/* .label {
    display: flex;
    align-items: center;
    justify-content: center;
}
.label-text {
    margin-left: 0.5em;
} */
.tooltip-toggle {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0;
    float: right;
}
.tooltip-toggle svg {
    height: 18px;
    width: 18px;
}

.option{
    cursor: pointer !important;

}


#label-screen,#input-screen{
    cursor: pointer;
}

input[type="submit"]:hover{
    transition: all 0.3s ease;

}

input[type="submit"]:hover{
    box-shadow: 0 0 20px #9ecaed;
    background-color: #ebebeb;
}